@use '../util' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--interFont);
  font-size: rem(20);
  background-color: var(--veryDrkBlue-bg);
  color: var(--white);
}
