@use '../util/' as *;

.header {
  margin-top: rem(36);
  @include breakpoints(medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
  }
  &__followers {
    font-size: rem(9);
    font-weight: 700;
    color: var(--des-blue-text);
  }
  &__toggle {
  }
}
